<h1 class="text-center text-bold text-2xl text-orange-600 py-4">Add Vehicle</h1>
<div class="flex justify-center">
    <form [formGroup]="addVehicle" (ngSubmit)="addData(addVehicle)">
        <div class="py-3">
            <input id="license" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="text" formControlName="vehicleLicense" placeholder="License">
        </div>
        <div class="py-3">
            <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Select an option</label>
            <select formControlName="vehicleType" id="type" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
            <option selected>Vehicle Type</option>
            <option value="Car">Car</option>
            <option value="Truck">Truck</option>
            <option value="Microbus">Microbus</option>
          </select>
        </div>
        <div class="py-3">
            <input class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="text" formControlName="ownerName" placeholder="name">
        </div>
        <div class="py-3">
            <input class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="number" formControlName="ownerPhone" placeholder="phone">
        </div>
        <div class="py-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900">Select an option</label>
            <select formControlName="carParkingStatus" id="status" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
            <option selected>status</option>
            <option value="In">In</option>
            <option value="OUT">OUT</option>
          </select>
        </div>
        <div class="py-3">
            <input class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="datetime" formControlName="carEntry" placeholder="time and date car entry">
        </div>
        <div class="py-3">
            <input class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="datetime" formControlName="carExit" placeholder="time and date car exit">
        </div>
        <div class="py-3">
            <input class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" type="number" formControlName="carCharge" placeholder="charge">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl">
          Add Vehicle
        </button>

    </form>

</div>